* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #999;
}

#root {
    width: 100%;
    max-width: 400px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
